.partners {
  img {
    max-width: 100%;
    @include media-breakpoint-up(md) {
      width: auto;
      max-height: 80px;
    }
    html[data-mode="dark"] & {
      filter: grayscale(100%) invert(100%);
    }
  }
}
