
<div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="grid-header grid-header-align-center">
            <h2>Solving the puzzle of risk data</h2>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mb-3 mt-0">
          <div class="card card-service card-services  card-has-icon">
            <div class="card-content">
              <div class="card-icon">
                <img alt="Web Development" width="50" height="50" src=" /assets/images/icons/icons8-source-code-100.png ">
              </div>
              <div class="card-title">
                <h3><a href="/services/web-development/">Web Development</a></h3>
              </div>
              <div class="card-description">
                <p>Our experienced software engineers develop websites and desktop applications</p>
              </div>
          </div>
        </div>
       </div>
       <div class="col-12 col-md-4 col-lg-4 mb-3  ">
        <div class="card card-service card-services  card-has-icon">
            <div class="card-content">
              <div class="card-icon">
                <img alt="Web Development" width="50" height="50" src=" /assets/images/icons/icons8-source-code-100.png ">
              </div>
              <div class="card-title">
                <h3><a href="/services/web-development/">Web Development</a></h3>
              </div>
              <div class="card-description">
                <p>Our experienced software engineers develop websites and desktop applications</p>
              </div>
          </div>
        </div>
       </div>
       <div class="col-12 col-md-4 col-lg-4 mb-3  ">
        <div class="card card-service card-services  card-has-icon">
            <div class="card-content">
              <div class="card-icon">
                <img alt="Web Development" width="50" height="50" src=" /assets/images/icons/icons8-source-code-100.png ">
              </div>
              <div class="card-title">
                <h3><a href="/services/web-development/">Web Development</a></h3>
              </div>
              <div class="card-description">
                <p>Our experienced software engineers develop websites and desktop applications</p>
              </div>
          </div>
        </div>
       </div>
       <div class="col-12 col-md-4 col-lg-4 mb-3  ">
        <div class="card card-service card-services  card-has-icon">
            <div class="card-content">
              <div class="card-icon">
                <img alt="Web Development" width="50" height="50" src=" /assets/images/icons/icons8-source-code-100.png ">
              </div>
              <div class="card-title">
                <h3><a href="/services/web-development/">Web Development</a></h3>
              </div>
              <div class="card-description">
                <p>Our experienced software engineers develop websites and desktop applications</p>
              </div>
          </div>
        </div>
       </div>
       <div class="col-12 col-md-4 col-lg-4 mb-3  ">
        <div class="card card-service card-services  card-has-icon">
            <div class="card-content">
              <div class="card-icon">
                <img alt="Web Development" width="50" height="50" src=" /assets/images/icons/icons8-source-code-100.png ">
              </div>
              <div class="card-title">
                <h3><a href="/services/web-development/">Web Development</a></h3>
              </div>
              <div class="card-description">
                <p>Our experienced software engineers develop websites and desktop applications</p>
              </div>
          </div>
        </div>
       </div>
       <div class="col-12 col-md-4 col-lg-4 mb-3  ">
        <div class="card card-service card-services  card-has-icon">
            <div class="card-content">
              <div class="card-icon">
                <img alt="Web Development" width="50" height="50" src=" /assets/images/icons/icons8-source-code-100.png ">
              </div>
              <div class="card-title">
                <h3><a href="/services/web-development/">Web Development</a></h3>
              </div>
              <div class="card-description">
                <p>Our experienced software engineers develop websites and desktop applications</p>
              </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>