---
layout: default
body_classes: page-home
---

{% if page.hero.enabled %}
  {% include framework/blocks/sections/hero.html
    heading=page.hero.heading
    sub_heading=page.hero.sub_heading
    background_image=page.hero.background_image
    background_image_blend_mode=page.hero.background_image_blend_mode
    background_color=page.hero.background_color
    background_gradient=page.hero.background_gradient
    text_color=page.hero.text_color
    fullscreen_mobile=page.hero.fullscreen_mobile
    fullscreen_desktop=page.hero.fullscreen_desktop
    height=page.hero.height
    buttons=page.hero.buttons
  %}
{% else %}
  <div class="section">
    <div class="container">
    {% include framework/blocks/sections/title.html
      fa_icon=page.fa_icon
      icon=page.icon
      title=page.title
      description=page.description
      image=page.image
    %}
    </div>
  </div>
{% endif %}

{% if page.intro1.enabled %}
  <div class="section">
    <div class="container">
      {% include framework/blocks/sections/info.html
      heading=page.intro1.heading
      sub_heading=page.intro1.sub_heading
      align=page.intro1.align
      features=page.intro1.features
      buttons=page.intro1.buttons
      image=page.intro1.image
      %}
    </div>
  </div>
{% endif %}

{% if page.intro2.enabled %}
  <div class="section">
    <div class="container">
      {% include framework/blocks/sections/info.html
      heading=page.intro2.heading
      sub_heading=page.intro2.sub_heading
      align=page.intro2.align
      features=page.intro2.features
      buttons=page.intro2.buttons
      image=page.intro2.image
      %}
    </div>
  </div>
{% endif %}

{% if page.partners.enabled %}
{% assign partners = site.data.partners %}
{% assign partners_limit = page.partners.limit | default: 4 %}
{% assign partners_sort = page.partners.sort | default: 'weight' %}
{% if partners.size > 0 %}
<div class="section">
  <div class="container">
    <div class="info">
      <div class="row justify-content-center text-center info-">
        <div class="col-12 col-md-8 ">
          <div class="info-content">
              <h2>Steering Committee</h2>    
              <p class="mt-1 large mx-auto">The development of the Risk Data Library Standard is guided by a Steering Committee with members from the following organizations</p>
          </div>
        </div>
        <div class="col-12 col-md-6 ">
        </div>
      </div>
    </div>
    <div class="section pt-0 partners">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          {% for partner in partners limit: partners_limit %}
          <div class="col-4 col-lg-2 text-center mb-1 mt-1">
            <img src="{{ partner.image | relative_url }}" alt="{{ partner.title }}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}

{% if page.posts.enabled %}
{% assign cards = site.posts | sort: 'date' | reverse %}
{% assign limit = page.posts.limit | default: 2 %}
{% assign sort_by = page.posts.sort | default: 'date' %}
{% assign columns =  page.posts.columns | default: 2 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}
  <div class="section bg-base-bg-2">
    <div class="container">
      <div class="row">

        {% include framework/blocks/components/grid-header.html
          heading=page.posts.heading
          sub_heading=page.posts.sub_heading
          align="center"
        %}
        
        {% for card in cards limit: limit %}

          {% assign url = card.url %}
          {% if page.posts.prevent_click %}
            {% assign url = null %}
          {% endif %}
          
          <div class="col-12 col-md-4 {{ columns }} mb-3 {% if forloop.first %}mt-0 {% endif %} {% if forloop.last %}mb-0 {% endif %}">
            {% include theme/cards/card-posts.html 
              title=card.title 
              description=card.description
              thumbnail=card.thumbnail
              url=url 
              weight=card.weight
            %}
          </div>
        {% endfor %}

        {% include framework/blocks/components/grid-footer.html 
          view_more_button_text=page.posts.view_more_button_text
          view_more_button_link=page.posts.view_more_button_link
          align="center"
        %}

    </div>
  </div>
</div>
{% endif %}

{% if page.outro.enabled %}
<div class="section">
  <div class="container">
    {% include framework/blocks/sections/info.html
    heading=page.outro.heading
    sub_heading=page.outro.sub_heading
    align=page.outro.align
    features=page.outro.features
    buttons=page.outro.buttons
    image=page.outro.image
    %}
  </div>
</div>
{% endif %}